version: '3.8'

services:
  api-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    container_name: comments-api-dev
    ports:
      - '3000:3000'
    volumes:
      - ./src:/app/src:ro
    environment:
      - NODE_ENV=development
      - PORT=3000
    command: npm run dev
